h1 {
    color: red;
}
#hero-advert {
    height: 140px;
    margin: -8px 0;
    position: relative;
    width: 960px;
}
#bd {
    background: none repeat scroll 0 0 white;
    padding: 0;
    position: relative;
}
#bg {
    height: 775px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 40px;
    width: 100%;
}
.skin {
    height: 775px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.skin .wrap {
    margin-left: 50%;
}
.skin .inner {
    margin-left: -937px;
    width: 1874px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
div {
    display: block;
}
#left-img-ad {
    margin: 0 7px;
}
#right-img-ad {
    margin: 0 7px;
}